#workareabox{
    display: flex;
    flex-direction: column;
    gap: 0px;;
    padding: 0px;
    flex: 1;
}

#editorbox {
    height: 70vh;
    resize: vertical;
    overflow: auto;
}

#consolebox {
    /* https://stackoverflow.com/a/37751019/7037749 */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    overflow-y: hidden;
}
